extends ../layout

block css
  link(rel="stylesheet", href="/css/login.css")

block js
  script(data-main="/js/login", src="/components/requirejs/require.js")
    
block breadcrumbs
  .breadcrumbs
    .container
      h1.pull-left #{__('login.breadcrumb.title')}

block content
  .container.content(ng-app='login')
    .row(ng-controller='MainController as ctrl')
      .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
        form.reg-page(ng-submit='ctrl.submit()', name="loginForm")
          .reg-header
            h2 #{__('login.form.title')}
          .input-group.margin-bottom-20
            span.input-group-addon
              i.fa.fa-envelope-o
            input.form-control(type='email',
              name='email',
              placeholder=' #{__("login.form.email")}',
              ng-model='ctrl.user.email',
              required)
          .input-group.margin-bottom-20
            span.input-group-addon
              i.fa.fa-key
            input.form-control(type='password',
              name='password',
              placeholder=' #{__("login.form.password")}',
              ng-model='ctrl.user.password',
              ng-minlength='8'
              required)
          .contex-bg(style="display:none;")
            p.bg-danger.rounded password error
          .row
            .col-md-6
            .col-md-6
              button.btn.btn-u.pull-right(type='submit', ng-disabled='loginForm.$invalid') #{__('login.form.button')}
          hr
          p 
            | #{__('login.form.forgotPass')}
            a.color-green(href='#') #{__('login.form.resetPassLink')}
            |  #{__('login.form.resetpass')}
